* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

/* .about-features {
    width: 100%;
} */

.hide {
    display: none;
}
.specification-features {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.get-started {
    text-align: center;
    padding-top: 1.5em;
}

.features, .features-product {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about-features p:not(:first-child){
    padding-bottom: 1em;
}

/* .about-features p {
    padding-top: 1em;
} */


.bold {
    font-weight: bold;
}

/* Apply padding-top to all elements except the last one */
.list-item:not(:last-child) {
    padding-top: 20px; /* Adjust the value as needed */
  }

.specification p {
  /* padding-top: 8px;   */
}

.hero-section {
    /* display: flex; */
    /* flex-direction: column; */
    gap: 1em;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.product-image {
    width: 100%;
    height: 100%;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .hero-slide.active {
    opacity: 1;
  }

body {
    background-color: rgba(211, 211, 211, 0.277);
    color: #006e96;
}
.container {
    /* width: 90%; */
    /* margin: auto; */

    /* text-align: center; */
    /* height: 100vh; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 2em;


    font-size: 1em;
    padding: 2em 1em;
}

h2, p {
    /* margin-top: 0; */
}

img {
    width: 100%;
    border-radius: 10px;
}

a {
    text-decoration: none;
    background-color: #006e96;
    border: 2px solid #006e96;
    color: white;
    width: 100%;
    padding: 1em 4em;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.4s;
    width: 90%;
    text-align: center;
}

a:hover {
    text-decoration: none;
    background: none;
    color: #006e96;
    border: 2px solid #006e96;
}

@media only screen and (min-width: 960px) {
    .container {
        width: 900px;
        margin: auto;
        padding: 2em 4em;
    }

    .hero-section {
        display: flex;
        align-items: center;
    }

    .features {
        flex-direction: row;
        align-items: center;
        /* gap: 3em; */
        /* display: flex; */
    }

    .features img {
        width: 20%;
        height: 100%;
    }

    .specification-features {
        flex-direction: row;
    }

    .hide {
        display: block;
    }

    .get-started {
        text-align: left;
    }
}